/* shared style */
.btn_primary{
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    border: 0px;
    color: white;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
/* orange color */
    .text_primary{
    color: #FD6E0A;
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 228px;
}
.nav_title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
    color: #474747;
}
nav a {
    text-decoration: none;
}
/* header releted style */
.header{
    background: #FFF8F3;
}
.banner{
    /* bujhte pari nai */
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile_picture{
    width: 584px;
    height: 676px;
}